
body{
    margin: 0;
    padding: 0;
}
.login-box{
        width: 320px;
        height: 420px;
        background: rgb(42, 40, 163);
        color: white;
        top: 30%;
        left: 40%;
        position: absolute;
        transform: translate(-50px, -50px);
        box-sizing: border-box;
        padding: 70px 30px;
        border-radius: 15px;
    }

.login-box .fav{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -2px;
    position: absolute;
    transform: translate(80px, -50px);
    left: calc(50px, -50px);
}
.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block; 
}
.in{
    border:none ;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}
.login-box a{
  text-align: center;
    text-decoration: none;
}
a :hover{
    text-align: center;
    color: #fff;
}
.btn{
    color: white;

    border: 1px solid white;
    background:rgb(12, 15, 187);
    border-radius: 5px;
    padding: 3px 90px;
    position: absolute;
    left: 40px;
    font-weight: bold;
}
.bt{
    color: white;
    
}
p{
text-align: center;
}   



.modal {

}
